body            { font-family: sans-serif; background: #eee; }
a, h1, h2       { color: #377ba8; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

.page           { margin: 2em auto; border: 5px solid #ccc;
                  padding: 0.8em; background: white; }
.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #fafafa; }
.flash          { background: #cee5F5; padding: 0.5em;
                  border: 1px solid #aacbe2; }
.error          { background: #f0d6d6; padding: 0.5em; }

.download-csv   { float: right; overflow: hidden; }

table {
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, td, th {
    border: 1px solid black;
}

td, th {
    padding: 3px;
}

body, .page {
  background: #fff;
  border: 0 none;
  padding: 0;
  margin: 0;
}
body {
  margin: 10px;
}
table.navbar {
  border: 0 none;
  border-collapse: separate;
  border-spacing: 14px 0;
  margin-left: -13px;
}
.navbar td {
  background: #53bbeb;
  border: 0 none;
  margin-right: 10px;
  padding: 10px 20px;
}
.navbar a {
  color: white;
  font: 400 15px 'freight-sans-pro',arial;
  text-decoration: none;
  text-transform: uppercase;
}
.navbar a:hover {
  font-weight: bold;
}
td, th {
  word-wrap: break-word;
}
.singlerow > tbody > tr > td:first-child {
  max-width: 100px;
}
.singlerow > tbody > tr > td:nth-child(2) {
  max-width: 205px;
}
.singlerow > tbody > tr > td:nth-child(3) {
  max-width: 100px;
}
