{% extends "layout.html" %}
{% block body %}
  <form action="{{ url_for('discount_code') }}" method="get" class="add-entry" >
    <dl>
      <dt>Discount Code:</dt>
        <dd><input type="text" size="20" name="code" />
        <input type="submit" value="Search" /></dd>
    </dl>
  </form>

  {% if redeemed_codes %}
    <ul>
      <li>Badge Type: {{ redeemed_codes.badge_type_name }}</li>
      <li>Total: {{ redeemed_codes.total }}</li>
      <li>Redeemed: {{ redeemed_codes.redeemed }}</li>
      <li>Unused: {{ redeemed_codes.available }}</li>
    </ul>
    {% if redeemed_codes.redemptions %}
      <table class="redeemed_codes">
        <tr>
          <th>Name</th>
          <th>Company</th>
	  <th>Title</th>
          <th>Registration Type</th>
          <th>Status</th>
          <th>Registration Date</th>
        </tr>
        {% for attendee in redeemed_codes.redemptions %}
          <tr>
	    <td>{{ attendee.name|safe }}</td>
	    <td>{{ attendee.company|safe }}</td>
	    <td>{{ attendee.title|safe }}</td>
	    <td>{{ attendee.registration_type|safe }}</td>
	    <td>{{ attendee.status|safe }}</td>
	    <td>{{ attendee.registration_date|safe }}</td>
          </tr>
        {% endfor %}
      </table>
    {% endif %}
  {% else %}
    <em>Enter discount code to show redemptions.</em>
  {% endif %}

  <div class="metanav">
    <p style="text-align:left;">New registrations may take 30 minutes to appear.</p>
  </div>

{% endblock %}
