{% extends "layout.html" %}
{% block body %}
  <form action="{{ url_for( 'discount_code' ) }}" method="get" class="add-entry" >
    <dl>
      <dt>Registration Code:</dt>
        <dd><input type="text" size="20" name="code" />
        <input type="submit" value="Search" /></dd>
    </dl>
  </form>

  {% if redeemed_codes %}
    <ul>
      <li>Sponsorship: {{ redeemed_codes.discount_code_data.code_source }}</li>
      <li>Source: {{ redeemed_codes.discount_code_data.product_name }}</li>
      <li>Badge Type: {{ redeemed_codes.badge_type_name }}</li>
      <li>Total: {{ redeemed_codes.total }}</li>
      <li>Redeemed: {{ redeemed_codes.redeemed }}</li>
      <li>Unused: {{ redeemed_codes.available }}</li>
    </ul>
    {% if redeemed_codes.redemptions %}
      <table class="redeemed_codes">
	<caption>
	  <form method="post" class="download-csv" >
            <input name="download_content" type="hidden" value="discount_code_search" />
            <input type="submit" name="download_csv" value="Download CSV" />
          </form>
	</caption>
        <tr>
          <th>Name</th>
          <th>Company</th>
	  <th>Title</th>
          <th>Registration Type</th>
          <th>Status</th>
          <th>Registration Date</th>
        </tr>
        {% for attendee in redeemed_codes.redemptions %}
          <tr>
	    <td>{{ attendee.name }}</td>
	    <td>{{ attendee.company }}</td>
	    <td>{{ attendee.title }}</td>
	    <td>{{ attendee.registration_type }}</td>
	    <td>{{ attendee.status }}</td>
	    <td>{{ attendee.registration_date }}</td>
          </tr>
        {% endfor %}
      </table>
    {% endif %}
  {% else %}
    <em>Enter registration code to show redemptions.</em>
  {% endif %}

  <div class="metanav">
    <p style="text-align:left;">New registrations may take 30 minutes to appear.</p>
  </div>

{% endblock %}
