
<p>
  Warning: discount codes have been deleted because their associated
  sponsor has been deleted/set to Declined - however attendees may
  have still redeemed against these codes in the past, please verify
  no attendees are registered against these codes with RegOnline -
  they will not show up in the web based ABI registration reporting
  tool.
  <ul>
    {% for code in data.obsolete_codes %}
      <li>Code {{ code.discount_code }} has been deleted:
        <ul>
          <li>RegOnline Sponsor ID: {{ code.sponsor_id }}</li>
          <li>Badge Type: {{ code.badge_type }}</li>
          <li>Badge Source: {{ code.code_source }}</li>
          <li>Badge Quantity: {{ code.quantity }}</li>
        </ul>
      </li>
    {% endfor %}
  </ul>
</p>

