<!doctype html>
<head>
  <title>Grace Hopper Celebration 2015 Registration Reports</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
<div class="page">
  <table class="navbar">
    <tr>
      <td><a href="{{ url_for( 'discount_code' ) }}">Search Registration Codes</a></td>
      <td><a href="{{ url_for( 'sponsor_summary' ) }}">Sponsor Summary</a></td>
      {% if session.logged_in %}
      <td><a href="{{ url_for( 'registration_summary' ) }}">Registration Summary</a></td>
      <td><a href="{{ url_for( 'bulk_purchases' ) }}">Bulk Purchases</a></td>
      <td><a href="{{ url_for( 'code_summary' ) }}">RegOnline Codes</a></td>
      {% endif %}
    </tr>
  </table>
  <div class="metanav">
  {% if not session.logged_in %}
    <a href="{{ url_for('login') }}">Log In</a>
  {% else %}
    <a href="{{ url_for('logout') }}">Log out</a>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
</body>
