{% extends "layout.html" %}
{% block body %}

  {% if session.logged_in %}
    <table class="singlerow">
      <tr>
	<th>Group</th>
	<th>Registered</th>
	<th>Reserved</th>
      </tr>
      {% for group_stats in registration_summary.group_attendee_stats %}
      <tr>
	<td>{{ group_stats.name }}</td>
	<td>{{ group_stats.data.redeemed }}</td>
	<td>{{ group_stats.data.reserved }}</td>
      </tr>
      {% endfor %}
      <tr>
	<td>Non-Sponsored</td>
        <td>{{ registration_summary.nonsponsored }}</td>
        <td>N/A</td>
      </tr>
      <tr>
	<td>Grand Total:</td>
        <td>{{ registration_summary.registered }}</td>
        <td>{{ registration_summary.reserved }}</td>
      </tr>
    </table>
    {% if registration_summary.sponsors %}
      <table class="singlerow">
        <caption>
          <form action="{{ url_for( 'registration_summary' ) }}" method="post" class="download-csv" >
            <input name="download_content" type="hidden" value="registration_summary" />
            <input type="submit" name="download_csv" value="Download CSV" />
          </form>
        </caption>
        <tr>
          <th>Company Name</th>
	  <th>Contact Email</th>
	  <th>Sponsorship</th>
          <th>Discount Codes
              <table>
		<tr>
		  <th style="width:260px;">Discount code</th>
		  <th style="width:30px;">Total</th>
		  <th style="width:30px;">Redeemed</th>
		  <th style="width:30px;">Unused</th>
		</tr>
	      </table>
          </th>
	  <!--
          <th>
            Add New Code
          </th>
	  -->
        </tr>
       {% for sponsor in registration_summary.sponsors %}
         <tr>
	   <td>{{ sponsor.Company }}</td>
	   <td>{{ sponsor.Email }}</td>
	   <td>{{ sponsor.RegistrationType }}</td>
	   <td>
             <table>
             {% for discount_code in sponsor.discount_codes %}
	       <tr>
	         <td style="width:260px;"><a href="{{ url_for( 'discount_code' ) }}?code={{ discount_code.discount_code }}">{{ discount_code.discount_code }}</a></td>
	         <td style="width:30px;">{{ discount_code.quantity }}</td>
	         <td style="width:30px;">{{ discount_code.redeemed }}</td>
	         <td style="width:30px;">{{ discount_code.available }}</td>
               </tr>
             {% endfor %}
	       <tr>
		 <td>
		   <form action="{{ url_for( 'registration_summary' ) }}" method="post" class="send-email" >
		     <input name="sponsorID" type="hidden" value="{{ sponsor.ID }}" />
		     <input name="email_recipients" type="email" multiple="multiple" value="{{ sponsor.Email }}{% if sponsor.CCEmail %}, {{ sponsor.CCEmail }}{% endif %}" />
		     <input type="submit" name="send_email" value="Email Discount Summary" />
		   </form>
		 </td>
	       </tr>
             </table>
           </td>
	  <!--
           <td>
             <form action="{{ url_for( 'registration_summary' ) }}" method="post" class="add-code" style="display:inline;" >
	       <input name="sponsorID" type="hidden" value="{{ sponsor.ID }}" />
	       <select name="badge_type" id="badge-type-id">
		 {% for badge_type_name in registration_summary.badge_type_names %}
                   <option value="{{ badge_type_name.value }}">{{ badge_type_name.name }}</option>
                 {% endfor %}
	       </select>
               <input name="quantity" id="quantity-id" type="number" value="1" min="1" maxlength="5" style="width:50px;" />
	       <input type="submit" name="add_discount_code" value="Add" />
             </form>
           </td>
	   -->
         </tr>
       {% endfor %}
      </table>
    {% endif %}
  {% else %}
    <p>Log in to access registration summary information.</p>
  {% endif %}

{% endblock %}
