{% extends "layout.html" %}
{% block body %}

  <p>Enter the email address you used for your Grace Hopper Celebration Sponsorship registration.  <br />NOTE: only emails associated with sponsors (not registrants) may search.</p>
  <form action="{{ url_for('sponsor_summary') }}" method="get" class="add-entry" >
    <dl>
      <dt>Sponsor Event Organizer Email:</dt>
        <dd><input type="text" size="40" name="sponsor_email" />
        <input type="submit" value="Search" /></dd>
    </dl>
  </form>

  {% if sponsor_summary.sponsor_email %}
    <h2>Showing Sponsorship Data For Event Organizer: {{ sponsor_summary.sponsor_email }}</h2>
    <table class="singlerow">
      <tr>
	<th>Group</th>
	<th>Registered</th>
	<th>Reserved</th>
      </tr>
      {% for group_stats in sponsor_summary.group_attendee_stats %}
      <tr>
	<td>{{ group_stats.name }}</td>
	<td>{{ group_stats.data.redeemed }}</td>
	<td>{{ group_stats.data.reserved }}</td>
      </tr>
      {% endfor %}
      {% if sponsor_summary.nonreserved %}
      <tr>
	<td>Non-Reserved Codes</td>
        <td>{{ sponsor_summary.nonreserved }}</td>
        <td>N/A</td>
      </tr>
      {% endif %}
      <tr>
	<td>Non-Sponsored</td>
        <td>{{ sponsor_summary.nonsponsored }}</td>
        <td>N/A</td>
      </tr>
      <tr>
	<td>Grand Total:</td>
        <td>{{ sponsor_summary.registered }}</td>
        <td>{{ sponsor_summary.reserved }}</td>
      </tr>
    </table>
    {% if sponsor_summary.sponsors %}

      <table class="singlerow">
         <caption>
          <form action="{{ url_for( 'sponsor_summary' ) }}" method="post" class="download-csv" >
            <input name="download_content" type="hidden" value="sponsor_summary_sponsors" />
            <input name="sponsor_email" type="hidden" value="{{ sponsor_summary.sponsor_email }}" />
            <input type="submit" name="download_csv" value="Download CSV" />
          </form>
        </caption>
        <tr>
          <th>Company Name</th>
	  <th>Contact Email</th>
	  <th>Sponsorship</th>
          <th>Registration Codes
              <table>
		<tr>
		  <th style="width:260px;">Registration code</th>
		  <th style="width:30px;">Total</th>
		  <th style="width:30px;">Redeemed</th>
		  <th style="width:30px;">Unused</th>
		</tr>
	      </table>
          </th>
        </tr>
       {% for sponsor in sponsor_summary.sponsors %}
         <tr>
	   <td>{{ sponsor.Company }}</td>
	   <td>{{ sponsor.Email }}</td>
	   <td>{{ sponsor.RegistrationType }}</td>
	   <td>
             <table>
             {% for discount_code in sponsor.discount_codes %}
	       <tr>
	         <td style="width:260px;"><a href="{{ url_for( 'discount_code' ) }}?code={{ discount_code.discount_code }}">{{ discount_code.discount_code }}</a></td>
	         <td style="width:30px;">{{ discount_code.quantity }}</td>
	         <td style="width:30px;">{{ discount_code.redeemed }}</td>
	         <td style="width:30px;">{{ discount_code.available }}</td>
               </tr>
             {% endfor %}
	       <tr>
		 <td>
		   <form action="{{ url_for( 'sponsor_summary' ) }}" method="post" class="send-email" >
		     <input name="sponsorID" type="hidden" value="{{ sponsor.ID }}" />
		     <input name="sponsor_email" type="hidden" value="{{ sponsor_summary.sponsor_email }}" />
		     <input name="email_recipients" type="email" multiple="multiple" value="{{ sponsor.Email }}{% if sponsor.CCEmail %}, {{ sponsor.CCEmail }}{% endif %}" />
		     <input type="submit" name="send_email" value="Email Registration Summary" />
		   </form>
		 </td>
	       </tr>
             </table>
           </td>
         </tr>
       {% endfor %}
      </table>
    {% endif %}

    {% if sponsor_summary.registrants %}
      <table class="redeemed_codes">
         <caption>
          <form action="{{ url_for( 'sponsor_summary' ) }}" method="post" class="download-csv" >
            <input name="download_content" type="hidden" value="sponsor_summary_registrants" />
            <input name="sponsor_email" type="hidden" value="{{ sponsor_summary.sponsor_email }}" />
            <input type="submit" name="download_csv" value="Download CSV" />
          </form>
        </caption>
        <tr>
          <th>Name</th>
          <th>Company</th>
	  <th>Title</th>
          <th>Registration Type</th>
          <th>Status</th>
          <th>Registration Date</th>
        </tr>
        {% for attendee in sponsor_summary.registrants %}
          <tr>
	    <td>{{ attendee.name }}</td>
	    <td>{{ attendee.company }}</td>
	    <td>{{ attendee.title }}</td>
	    <td>{{ attendee.registration_type }}</td>
	    <td>{{ attendee.status }}</td>
	    <td>{{ attendee.registration_date }}</td>
          </tr>
        {% endfor %}
      </table>
    {% endif %}
  {% endif %}

{% endblock %}
